body {
    font-family: Georgia, serif;
    margin: 0;
    background-color: #f5f7f5;
    color: #333;
}

header {
    background-color: #2e6b4f;
    color: white;
    text-align: center;
    padding: 30px;
}

main {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #2e6b4f;
}

h3 {
    color: #2e6b4f;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

